.page-content {
    margin-top: 100px !important;
}

.spinner-grow {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: text-bottom;
    background-color: currentColor;
    border-radius: 50%;
    opacity: 1;
    animation: none;
}

th.MuiTableCell-root {
    z-index: 0 !important;
}
